{% extends "catalog/base_generic.html" %}
{% block title %}Добавление категории{% endblock %}
{% block content %}
    {% if user.is_superuser %}
    <div class="container">
        <h1>Добавить категорию:</h1>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <table>
                {{ form.as_table }}
            </table>
            <input type="submit" value="Создать" class="btn btn-primary">
        </form>
    </div>
    {% else %}
        <h2>У вас недостаточно прав для использования этой страницы</h2>
        <p>Пожалуйста, авторизируйтесь на сайте, чтобы получить доступ к этой странице!</p>
    {% endif %}
{% endblock %}